{% extends 'base/base.html' %}

{% load static %}

{% block title %} Lista del Personal {% endblock %}

{% block content %}
<main id="main">
   <section id="team">
      <div class="container wow fadeInUp">
         <div class="table-responsive">
            <table class="table table-primary">
               <thead>
                  <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Nombre</th>
                     <th scope="col">Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="">
                     <td scope="row">1</td>
                     <td>Regina Muzzulini</td>
                     <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'personal_edit' %}" role="button">Editar</a>
                        | 
                        <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </section>
</main>




{% endblock %}