.env
laboratoriovial/db.py
requeriments.txt

apps/__pycache__
apps/inicio/__pycache__
apps/inicio/migrations/__pycache__
apps/personal/__pycache__
apps/personal/migrations/__pycache__
apps/publicaciones/__pycache__
apps/publicaciones/migrations/__pycache__

laboratoriovial/__pycache__