<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
   <meta charset="utf-8">
   <title>{% block title %} Titulo {% endblock %}</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <meta content="" name="keywords">
   <meta content="" name="description">
</head>  

<body>
    {% block nav %}
    Soy la barra de navegacion
    {% endblock %}
    
    {% block content %} 
    Soy el contenido base
    {% endblock %}
</body>

{% block footer %} 
Soy el footer base
{% endblock %}

</html>