<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
    {% block head %}
    {% include 'base/head.html' %}
    <title>{% block title %} Laboratorio Vial {% endblock %}</title>
    {% endblock %}
</head>  

<body>
    {% block nav %}
    {% include 'base/navbar.html' %}
    {% endblock %}

    {% block hero %}
    {% endblock %}
    
    {% block content %} 
    <h2>Soy el contenido base</h2>
    {% endblock %}
</body>

{% block footer %} 
{% include 'base/footer.html' %}
{% endblock %}

</html>