{% load static %}

<!--==========================
    Footer
	============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4" style="text-align: center;">
                <h3>Dirección</h3>
                <p>Riobamba y Berutti <br /> (Centro Universitario Rosario) <br /> Rosario - Argentina</p>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h3>Telefonos</h3>
                <p>54 0341 4808538/39 - Fax: 54 0341 4808540</p>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h3>Horarios</h3>
                <p>de 8 a 14 hs</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 copyright" style="text-align: center;">
                &copy; Desarrollado en el Laboratorio Vial del Imae @2020
            </div>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static '/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    <!-- lib/ -->
<script src="{% static '/lib/easing/easing.min.js' %}"></script>                    <!-- lib/ -->
<script src="{% static '/lib/wow/wow.min.js' %}"></script>                          <!-- lib/ -->
<script src="{% static '/lib/waypoints/waypoints.min.js' %}"></script>              <!-- lib/ -->
<script src="{% static '/lib/counterup/counterup.min.js' %}"></script>              <!-- lib/ -->
<script src="{% static '/lib/superfish/hoverIntent.js' %}"></script>                <!-- lib/ -->
<script src="{% static '/lib/superfish/superfish.min.js' %}"></script>              <!-- lib/ -->

<!-- Template Main Javascript File -->
<script src="{% static '/js/main.js' %}"></script>