<!--==========================
	Header (menú)
============================-->
<header id="header" style="background: rgba(52, 59, 64, 0.9); padding: 20px 0; height: 72px; ">
    <div class="container">
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li class="menu-has-children"><a href="">Cursos</a>
                    <ul>
                        <li><a href="cursos.php?frm=cursos">2022</a></li>
                        <li><a href="cursos.php?frm=maestria">Maestria Vial</a></li>
                    </ul>
                </li>
                <!--<li><a href="personal.php">Personal</a></li>-->
                <li class="menu-has-children"><a href="">Personal</a>
                    <ul>
                        <li><a href="{% url 'personal_index' %}">Listado</a></li>
                        <li><a href="{% url 'personal_create' %}">Crear</a></li>
                        <li><a href="{% url 'personal_edit' %}">Editar</a></li>
                    </ul>
                </li>
                
                <li class="menu-has-children"><a href="">Actividades</a>
                    <ul>
                        <li><a href="publicaciones.php">Publicaciones</a></li>
                        <li><a href="proyectos.php">Proyectos</a></li>
                        <li><a href="convenios.php">Convenios</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Ensayos y<br>Tareas</a>
                    <ul>
                        <li><a href="ensayos-agregados.php">Agregados</a></li>
                        <li><a href="ensayos-asfaltos.php">Asfaltos</a></li>
                        <li><a href="ensayos-mezclas.php">Mezclas asfálticas</a></li>
                        <li><a href="ensayos-pavimentos.php">Pavimentos</a></li>
                        <li><a href="ensayos-suelos.php">Suelos</a></li>
                        <li><a href="saer.php">Sistema de Gestión de Redes Viales</a></li>
                    </ul>
                </li>
                <li><a href="clientes.php">Nuestros<br>Clientes</a></li>
                <li><a href="descarga.php">Descargas</a></li>
                <li><a href="contacto.php?frm=contacto">Contacto</a></li>
                <li><a href="sglv_login.php">SGLV</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->