<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="left-0 text-center bg-faded p-4 rounded">
                    <h2 class="title">Publicaciones del Laboratorio Vial</h2>

                    <div class="table-responsive">
                        <table class="table borderless display" id="tablaCurso">
                            <thead>
                                <tr class="row-active">
                                    <th scope="col">Año</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Lugar</th>
                                    <th scope="col">Autores</th>
                                </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>