<!--==========================
	Header (menú)
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
            <!-- Uncomment below if you prefer to use a text logo -->
            <h2><a href="index.php">Laboratorio Vial</a></h2>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="index.php">Inicio</a></li>
                <li class="menu-has-children"><a href="">Cursos</a>
                    <ul>
                        <li><a href="cursos.php?frm=cursos">2022</a></li>
                        <li><a href="cursos.php?frm=maestria">Maestria Vial</a></li>
                    </ul>
                </li>
                <li><a href="personal.php">Personal</a></li>
                <li class="menu-has-children"><a href="">Actividades</a>
                    <ul>
                        <li><a href="publicaciones.php">Publicaciones</a></li>
                        <li><a href="proyectos.php">Proyectos</a></li>
                        <li><a href="convenios.php">Convenios</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Ensayos y<br>Tareas</a>
                    <ul>
                        <li><a href="ensayos-agregados.php">Agregados</a></li>
                        <li><a href="ensayos-asfaltos.php">Asfaltos</a></li>
                        <li><a href="ensayos-mezclas.php">Mezclas asfálticas</a></li>
                        <li><a href="ensayos-pavimentos.php">Pavimentos</a></li>
                        <li><a href="ensayos-suelos.php">Suelos</a></li>
                        <li><a href="saer.php">Sistema de Gestión de Redes Viales</a></li>
                    </ul>
                </li>
                <li><a href="clientes.php">Nuestros<br>Clientes</a></li>
                <li><a href="descarga.php">Descargas</a></li>
                <li><a href="contacto.php?frm=contacto">Contacto</a></li>
                <li><a href="sglv_login.php">SGLV</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->